* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

header select {
  border: none;
}

header {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
  background-color: #f8f9fb;
}

header select {
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  color: #476788;
  font-weight: bold;
}

header a {
  font-weight: bold;
  font-size: 12px;
  color: #476788;
  font-family: Arial, Helvetica, sans-serif;
}

header .fa-solid {
  font-size: 12px;
  margin-right: -4px;
  color: #476788;
}

select {
  width: 64px;
  border: none;
}

/* media query for header */

@media (max-width: 1440px) {
  header select {
    border: none;
  }

  header {
    padding: 12px 40px 12px 40px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;
    background-color: #f8f9fb;
  }

  header select {
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: #476788;
    font-weight: bold;
  }

  header a {
    font-weight: bold;
    font-size: 12px;
    color: #476788;
    font-family: Arial, Helvetica, sans-serif;
  }

  header .fa-solid {
    font-size: 12px;
    margin-right: -4px;
    color: #476788;
  }

  select {
    width: 64px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 768px) {
  header select {
    border: none;
  }

  header {
    padding: 12px 40px 12px 40px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fb;
  }

  header select {
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: #476788;
    font-weight: bold;
  }

  header a {
    font-weight: bold;
    font-size: 12px;
    color: #476788;
    font-family: Arial, Helvetica, sans-serif;
  }

  header .fa-solid {
    font-size: 12px;
    margin-right: -4px;
    color: #476788;
  }

  select {
    width: 64px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 300px) {
  header select {
    border: none;
  }

  header {
    padding: 12px 20px 12px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fb;
  }

  header select {
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: #476788;
    font-weight: bold;
  }

  header a {
    font-weight: bold;
    font-size: 12px;
    color: #476788;
    font-family: Arial, Helvetica, sans-serif;
  }

  header .fa-solid {
    font-size: 12px;
    margin-right: -4px;
    color: #476788;
  }

  select {
    width: 64px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }
}

nav {
  padding: 12px 40px 12px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 221, 221);
}

nav .left {
  display: flex;
}

nav .middle {
  display: flex;
  gap: 3em;
}

nav .right {
  display: flex;
}

nav .right .log-in {
  padding-right: 12px;
}

nav .right .fa-solid {
  display: none;
}

nav img {
  width: 160px;
}

.get-started {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  padding: 12px 18px 12px 18px;
  background-color: #006bff;
  border-radius: 8px;
}

nav a {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: rgb(11, 55, 88);
}

nav .fa-solid {
  padding-left: 4px;
}

.dropdown-wrapper {
  background-color: white;
  width: 700px;
  height: 360px;
  position: absolute;
  left: 300px;
  top: 80px;
  display: flex;
  display: none;
  gap: 2em;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 11px 20px 2px rgba(0, 0, 0, 0.09);
}

.sol-dropdown:hover .dropdown-wrapper {
  display: flex;
}

.cell1 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px;
  border-color: rgb(197, 191, 191);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
}

.cell1 h2 {
  padding-bottom: 20px;
  color: #a6bbd1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.cell1 li {
  padding-bottom: 12px;
  font-size: 24px;
}

.cell1 a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.cell2 {
  padding-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px;
  border-color: rgb(197, 191, 191);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
}

.cell2 h2 {
  padding-bottom: 20px;
  color: #a6bbd1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.cell2 li {
  padding-bottom: 12px;
}
.cell2 li {
  font-size: 24px;
}
.cell3 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.cell3 h2 {
  padding-bottom: 20px;
  color: #a6bbd1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.cell3 li {
  padding-bottom: 12px;
}
.cell3 li {
  font-size: 24px;
}

.resources-dropdown {
  position: relative;
}
.dropdown-wrapper2 {
  background-color: white;
  width: auto;
  position: absolute;
  left: -780px;
  display: flex;
  z-index: 1;
  display: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  box-shadow: 0px 11px 20px 2px rgba(0, 0, 0, 0.09);
}

.resources-dropdown:hover .dropdown-wrapper2 {
  display: flex;
}

.dropdown-container {
  display: flex;
  gap: 1em;
}

.dropdown-container h4 {
  font-size: 14px;
  color: #0b3558;
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.dropdown-container p {
  padding-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #67819d;
  width: 260px;
}

.cell1-r {
  padding: 30px 0px 30px 30px;
  vertical-align: top;
  border-right: 0px;
  border-color: rgb(197, 191, 191);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
}

.cell1-r h2 {
  padding-bottom: 20px;
  color: #a6bbd1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.cell1-r li {
  padding-bottom: 12px;
  font-size: 24px;
}

.cell1 a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.cell2-r {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-right: 1px;
  border-color: rgb(197, 191, 191);
  border-left: 0px;
  border-top: 0px;
  border-left: 1px solid rgb(197, 191, 191);
  border-bottom: 0px;
  border-style: solid;
}

.cell2-r h2 {
  padding-bottom: 20px;
  color: #a6bbd1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.cell2-r h4 {
  font-size: 14px;
  color: #0b3558;
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.cell2-r p {
  padding-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #67819d;
  width: 260px;
}

.cell4-r {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f4f8ff;
  border-bottom-right-radius: 6px;
}

.cell4-r h4 {
  font-size: 14px;
  color: #0b3558;
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.cell4-r p {
  padding-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #67819d;
  width: 260px;
}

.cell4-r img {
  width: 200px;
}

.cell4-r a {
  margin-top: 20px;
  background-color: blue;
  padding: 12px 12px;
  border-radius: 8px;
  width: 120px;
  text-wrap: nowrap;
  color: white;
  font-size: 12px;
}

@media (max-width: 1200px) {
  nav {
    padding: 12px 80px 12px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  nav .left {
    display: flex;
  }

  nav .middle {
    display: flex;
    gap: 1.8em;
  }

  nav .right {
    display: flex;
  }

  nav .right .log-in {
    padding-right: 12px;
  }

  nav img {
    width: 160px;
  }

  .get-started {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    padding: 12px 18px 12px 18px;
    background-color: #006bff;
    border-radius: 8px;
  }

  nav a {
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: rgb(11, 55, 88);
  }

  nav .fa-solid {
    padding-left: 4px;
  }
}
@media (max-width: 992px) {
  nav {
    padding: 12px 80px 12px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  nav .left {
    display: flex;
  }

  nav .middle {
    display: flex;
    gap: 1.8em;
  }

  nav .right {
    display: flex;
    align-items: center;
  }

  nav .right .log-in {
    margin-right: 20px;
  }

  nav .right .fa-solid {
    display: block;
    font-size: 26px;
    color: #476788;
    margin-left: 20px;
  }

  nav li {
    display: none;
  }

  nav .right li {
    display: block;
  }

  nav .log-in {
    background-color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
  }

  nav img {
    width: 160px;
  }

  .get-started {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    padding: 12px 18px 12px 18px;
    background-color: #006bff;
    border-radius: 8px;
  }

  nav a {
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: rgb(11, 55, 88);
  }

  nav .fa-solid {
    padding-left: 4px;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 12px 40px 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  nav .left {
    display: flex;
  }

  nav .middle {
    display: flex;
    gap: 1.8em;
  }

  nav .right {
    display: flex;
    align-items: center;
  }

  nav .right .log-in {
    margin-right: 20px;
  }

  nav .right .fa-solid {
    display: block;
    font-size: 26px;
    color: #476788;
    margin-left: 10px;
  }

  nav .right .fa-solid {
    display: block;
    font-size: 26px;
    color: #476788;
  }

  nav li {
    display: none;
  }

  nav .right li {
    display: block;
  }

  nav .right .log-in {
    display: none;
  }

  nav img {
    width: 160px;
  }

  .get-started {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    background-color: #006bff;
    border-radius: 8px;
    flex-wrap: wrap;
  }

  nav a {
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: rgb(11, 55, 88);
  }

  nav .fa-solid {
    padding-left: 4px;
  }
}
@media (max-width: 400px) {
  nav {
    padding: 12px 40px 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  nav .left {
    display: flex;
  }

  nav .middle {
    display: flex;
    gap: 1.8em;
  }

  nav .right {
    display: flex;
    align-items: center;
  }

  nav .right .fa-solid {
    display: block;
    font-size: 26px;
    color: #476788;
  }

  nav li {
    display: none;
  }

  nav .right li {
    display: block;
  }

  nav img {
    width: 90px;
  }

  .get-started {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    padding: 8px 8px 8px 8px;
    background-color: #006bff;
    border-radius: 8px;
  }

  nav a {
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: rgb(11, 55, 88);
  }

  nav .fa-solid {
    padding-left: 4px;
  }
}
@media (max-width: 226px) {
  nav {
    padding: 12px 40px 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  nav .left {
    display: flex;
  }

  nav .middle {
    display: flex;
    gap: 1.8em;
  }

  nav .right {
    display: flex;
    gap: 1em;
  }

  nav .right .fa-solid {
    display: block;
    font-size: 26px;
    color: #476788;
  }

  nav li {
    display: none;
  }

  nav .right li {
    display: block;
  }

  nav img {
    width: 60px;
  }

  .get-started {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    padding: 12px 18px 12px 18px;
    background-color: #006bff;
    border-radius: 8px;
  }

  nav a {
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: rgb(11, 55, 88);
  }

  nav .fa-solid {
    padding-left: 4px;
  }
}

.hero-sect {
  padding: 0px 40px 100px 40px;
  display: flex;
  gap: 7em;
  background-color: #f8f9fb;
}

.left-side h2 {
  color: #0b3558;
  font-size: 62px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.left-side p {
  color: #0b3558;
  font-size: 14px;
  width: 500px;
  padding-top: 26px;
  padding-bottom: 100px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.hero-sect .hero-text {
  color: #0b3558;
  font-size: 18px;
  width: 500px;
  padding: 40px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.right-side img {
  width: 600px;
  border-radius: 20px;
}

.right-side {
  padding-top: 100px;
}

.right-side span {
  margin-top: 12px;
  display: block;
  background-color: #e6f0ff;
  border-radius: 20px;
  width: fit-content;
  padding: 4px 10px;
  color: #006bff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.right-side h2 {
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  color: #0b3558;
}

.right-side p {
  padding-top: 16px;
  font-size: 16px;
  color: #0b3558;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.right-side .fa-solid {
  padding-left: 10px;
}

@media (max-width: 1300px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 5em;
    background-color: #f8f9fb;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 52px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .left-side p {
    color: #0b3558;
    font-size: 14px;
    width: 500px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .hero-sect .hero-text {
    color: #0b3558;
    font-size: 20px;
    width: 500px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side img {
    width: 500px;
    border-radius: 20px;
  }

  .right-side {
    padding-top: 100px;
  }

  .right-side span {
    margin-top: 12px;
    display: block;
    background-color: #e6f0ff;
    border-radius: 20px;
    width: fit-content;
    padding: 4px 10px;
    color: #006bff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    color: #0b3558;
  }

  .right-side p {
    padding-top: 16px;
    font-size: 16px;
    color: #0b3558;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side .fa-solid {
    padding-left: 10px;
  }
}

@media (max-width: 1180px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 38px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .left-side p {
    color: #0b3558;
    font-size: 14px;
    width: 500px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .hero-sect .hero-text {
    color: #0b3558;
    font-size: 18px;
    width: 380px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side img {
    width: 380px;
    border-radius: 20px;
  }

  .right-side {
    padding-top: 100px;
  }

  .right-side span {
    margin-top: 12px;
    display: block;
    background-color: #e6f0ff;
    border-radius: 20px;
    width: fit-content;
    padding: 4px 10px;
    color: #006bff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    color: #0b3558;
  }

  .right-side p {
    padding-top: 16px;
    font-size: 16px;
    color: #0b3558;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side .fa-solid {
    padding-left: 10px;
  }
}
@media (max-width: 1000px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
  }

  .left-side {
    width: 50%;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 38px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .left-side p {
    color: #0b3558;
    font-size: 14px;
    width: 500px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .hero-sect .hero-text {
    color: #0b3558;
    font-size: 18px;
    width: 380px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side img {
    width: 380px;
    border-radius: 20px;
  }

  .right-side {
    padding-top: 100px;
  }

  .right-side span {
    margin-top: 12px;
    display: block;
    background-color: #e6f0ff;
    border-radius: 20px;
    width: fit-content;
    padding: 4px 10px;
    color: #006bff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    color: #0b3558;
  }

  .right-side p {
    padding-top: 16px;
    font-size: 16px;
    color: #0b3558;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side .fa-solid {
    padding-left: 10px;
  }
}

@media (max-width: 992px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
    flex-direction: column;
  }

  .hero-sect .left-side {
    width: 100%;
  }
  .hero-sect .right-side {
    width: 100%;
  }

  .left-side p {
    color: #0b3558;
    font-size: 14px;
    width: 500px;
    padding-top: 26px;
    padding-bottom: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
  }

  .left-side .hero-text {
    color: #0b3558;
    font-size: 24px;
    width: 680px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .right-side {
    padding-top: 0px;
  }

  .right-side img {
    width: 600px;
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 38px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@media (max-width: 768px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
    flex-direction: column;
  }

  .left-side .hero-text {
    color: #0b3558;
    font-size: 18px;
    width: 500px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .right-side {
    padding-top: 0px;
  }

  .right-side img {
    width: 500px;
    border-radius: 20px;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 28px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 26px;
    color: #0b3558;
  }
}

@media (max-width: 610px) {
  .hero-sect {
    padding: 0px 40px 100px 40px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
    flex-direction: column;
  }

  .left-side .hero-text {
    color: #0b3558;
    font-size: 18px;
    width: 380px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .right-side {
    padding-top: 0px;
  }

  .right-side img {
    width: 380px;
    border-radius: 20px;
  }

  .left-side p {
    color: #0b3558;
    font-size: 14px;
    width: 200px;
    padding-top: 26px;
    padding-bottom: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 22px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 26px;
    color: #0b3558;
  }
}
@media (max-width: 480px) {
  .hero-sect {
    padding: 0px 30px 100px 30px;
    display: flex;
    gap: 0em;
    background-color: #f8f9fb;
    flex-direction: column;
  }

  .hero-sect-anchors {
    flex-direction: column;
    text-align: center;
  }

  .left-side .hero-text {
    color: #0b3558;
    font-size: 14px;
    width: 300px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .right-side {
    padding-top: 0px;
  }

  .right-side img {
    width: 300px;
    border-radius: 20px;
  }

  .left-side p {
    color: #0b3558;
    font-size: 12px;
    width: 200px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .left-side h2 {
    color: #0b3558;
    font-size: 16px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side h2 {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 26px;
    color: #0b3558;
  }
}

@media (max-width: 360px) {
  .left-side h2 {
    color: #0b3558;
    font-size: 15px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .left-side .hero-text {
    color: #0b3558;
    font-size: 14px;
    width: 300px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .left-side .hero-text {
    color: #0b3558;
    font-size: 14px;
    width: 260px;
    padding-top: 26px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .right-side img {
    width: 260px;
    border-radius: 20px;
  }
}

.hero-sect-anchors {
  display: flex;
  justify-content: start;
  font-family: "Plus Jakarta Sans", sans-serif;
  gap: 1em;
}

.hero-sect-anchors .anchor-one {
  text-wrap: nowrap;
  color: #fff;
  background-color: #006bff;
  padding: 12px 26px 12px 26px;
  border-radius: 8px;
}
.hero-sect-anchors .anchor-two {
  text-wrap: nowrap;
  color: #0b3558;
  padding: 12px 26px 12px 26px;
  border-radius: 8px;
  border: thin solid #0b3558;
}

.sect-2 {
  margin-top: 100px;
  padding-bottom: 10px;
}

.sect-2 h2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  color: #0b3558;
}

.logos {
  overflow: hidden;

  display: flex;
}

@keyframes logos {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logo-slide img {
  margin: 50px 50px;
}

.logo-slide {
  white-space: nowrap;
  animation: logos;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (max-width: 992px) {
  .sect-2 {
    margin-top: 100px;
    padding-bottom: 10px;
  }

  .sect-2 h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 38px;
    color: #0b3558;
  }
}

@media (max-width: 768px) {
  .sect-2 {
    margin-top: 0px;
  }
  .sect-2 h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    color: #0b3558;
  }
}

@media (max-width: 540px) {
  .sect-2 h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    color: #0b3558;
  }
}
@media (max-width: 380px) {
  .sect-2 h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: #0b3558;
  }
}

.sect-3 {
  padding: 0px 40px 100px 40px;
  display: flex;
  gap: 7em;
  align-items: center;
  background-color: #f8f9fb;
}

.sect-3-left-side h2 {
  color: #0b3558;
  font-size: 32px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 50px;
}

.sect-3 .sect-3-text {
  color: #0b3558;
  font-size: 18px;
  width: 500px;
  padding: 40px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sect-3-right-side img {
  width: 600px;
  border-radius: 20px;
}

.sect-3-right-side {
  padding-top: 100px;
}

.sect-3-right-side span {
  margin-top: 12px;
  display: block;
  background-color: #e6f0ff;
  border-radius: 20px;
  width: fit-content;
  padding: 4px 10px;
  color: #006bff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.sect-3-right-side h2 {
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  color: #0b3558;
}

.sect-3-right-side p {
  padding-top: 16px;
  font-size: 16px;
  color: #0b3558;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.right-side .fa-solid {
  padding-left: 10px;
}

.sect-3 a {
  color: #006bff;
  padding-bottom: 30px;
  display: inline-block;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
}

.sect-3 i {
  padding-left: 10px;
}

.sect-3-right-side img {
  border-radius: 10px;
}

@media (max-width: 1330px) {
  .sect-3-right-side img {
    border-radius: 10px;
    width: 500px;
  }
}
@media (max-width: 1180px) {
  .sect-3-right-side img {
    border-radius: 10px;
    width: 400px;
  }

  .sect-3 {
    gap: 2em;
    align-items: center;
    background-color: #f8f9fb;
  }
}
@media (max-width: 1020px) {
  .sect-3-right-side img {
    border-radius: 10px;
    width: 360px;
  }

  .sect-3 {
    gap: 2em;
    align-items: center;
    background-color: #f8f9fb;
  }

  .sect-3 .sect-3-text {
    color: #0b3558;
    font-size: 18px;
    width: 360px;
    padding: 40px 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@media (max-width: 830px) {
  .sect-3 {
    padding: 0px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fb;
  }

  .sect-3-left-side h2 {
    color: #0b3558;
    font-size: 28px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-top: 50px;
  }
  .sect-3 .sect-3-text {
    color: #0b3558;
    font-size: 18px;
    width: auto;
    padding: 40px 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
@media (max-width: 420px) {
  .sect-3-right-side img {
    border-radius: 10px;
    width: 280px;
  }

  .sect-3-left-side h2 {
    color: #0b3558;
    font-size: 24px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-top: 50px;
  }
}

.sect-four {
  padding: 50px 40px 100px 40px;
}

.container-one {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

.sect-four span {
  display: block;
  text-align: center;
  background-color: #e6f0ff;
  border-radius: 20px;
  color: #006bff;
  padding: 6px 12px;
  width: fit-content;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  margin: 30px auto;
}

.sect-four h2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 42px;
  color: #0b3558;
}

.text-div .streamline {
  border-radius: 20px;
  color: #006bff;
  padding: 6px 12px;
  width: fit-content;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e6f0ff;
}

.text-div h2 {
  text-align: left;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 38px;
  color: #0b3558;
  padding-bottom: 20px;
}

.text-div .recruit {
  color: #0b3558;
  line-height: 1.4em;
  font-size: 18px;
  padding-bottom: 40px;
}

.text-div a {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #006bff;
}

.text-div i {
  padding-left: 10px;
}

.sect-four img {
  width: 600px;
}

.text-div p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
}

@media (max-width: 1250px) {
  .container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }

  .sect-four img {
    width: 500px;
  }

  .sect-four {
    padding: 50px 40px 100px 40px;
  }
  .sect-four h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .container-one {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2em;
  }
}

@media (max-width: 540px) {
  .sect-four img {
    width: 360px;
  }

  .text-div h2 {
    font-size: 26px;
  }

  .text-div a {
    font-size: 14px;
  }

  .sect-four h2 {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .sect-four img {
    width: 280px;
  }

  .text-div h2 {
    font-size: 22px;
  }

  .text-div a {
    font-size: 13px;
  }

  .sect-four h2 {
    font-size: 26px;
  }

  .sect-four span {
    font-size: 10px;
    margin: 12px auto;
  }

  .sect-four .streamline {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.container-two {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  gap: 4em;
}

@media (max-width: 1250px) {
  .sect-four {
    padding: 50px 40px 100px 40px;
  }

  .container-two {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }

  .sect-four img {
    width: 500px;
  }

  .sect-four h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .container-two {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2em;
  }
}

@media (max-width: 540px) {
  .sect-four img {
    width: 360px;
  }

  .text-div h2 {
    font-size: 26px;
  }

  .text-div a {
    font-size: 14px;
  }

  .sect-four h2 {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .sect-four img {
    width: 280px;
  }

  .text-div h2 {
    font-size: 22px;
  }

  .text-div a {
    font-size: 12px;
  }

  .sect-four h2 {
    font-size: 26px;
  }

  .sect-four span {
    font-size: 10px;
    margin: 12px auto;
  }

  .sect-four .streamline {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.ancestry {
  padding: 100px 40px 80px 40px;
  background-color: #f4f8ff;
}

.ancestry .d-m {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.ancestry-wrapper {
  padding: 40px 40px 20px 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.ancestry-wrapper img {
  padding: 40px 0px 40px;
}

.ancestry .inside-div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.inside-div img {
  width: 80px;
  border-radius: 50%;
}

.ancestry-wrapper p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 28px;
  line-height: 1.4em;
  padding-bottom: 2px;
  font-weight: 500;
  color: #0b3558;
}

.inside-div .inside-div-p {
  font-size: 16px;
}

.ancestry-wrapper h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #0b3558;
  padding-bottom: 12px;
  font-weight: 0;
}

.ancestry .bottom-p {
  color: #fff;
  text-align: center;
  background-color: #0b3558;
  padding: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ancestry i {
  padding-left: 10px;
}

@media (max-width: 500px) {
  .ancestry-wrapper p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    line-height: 1.2em;
    padding-bottom: 30px;
    color: #0b3558;
  }

  .ancestry {
    padding: 80px 30px 80px 30px;
  }

  .ancestry .bottom-p {
    color: #fff;
    text-align: center;
    background-color: #0b3558;
    padding: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (max-width: 400px) {
  .ancestry-wrapper p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    padding-bottom: 30px;
    color: #0b3558;
  }
  .ancestry .bottom-p {
    color: #fff;
    text-align: center;
    background-color: #0b3558;
    padding: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.sect-five {
  padding: 50px 40px 100px 40px;
}

.sect-five span {
  display: block;
  text-align: center;
  background-color: #e6f0ff;
  border-radius: 20px;
  color: #006bff;
  padding: 6px 12px;
  width: fit-content;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  margin: 30px auto;
}

.sect-five h2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 50px;
  color: #0b3558;
}

@media (max-width: 1250px) {
  .sect-five {
    padding: 50px 40px 100px 40px;
  }
  .sect-five h2 {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .sect-five h2 {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .sect-five h2 {
    font-size: 26px;
  }
}

.tabs {
  padding: 20px 80px 20px 80px;
  display: flex;
  justify-content: space-around;
  gap: 1em;
  margin-bottom: 50px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.tabs p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  color: #476788;
}

.tabs .first-tabs-cover {
  border: 2px solid #006bff;
  padding: 6px 16px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.tabs .tabs-cover {
  border: 1px solid #006bff;
  padding: 6px 16px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.tabs .first-p {
  color: #006bff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-wrap: nowrap;
}

.tabs .other-p {
  color: #476788;
  font-size: 20px;
  text-wrap: nowrap;
  font-weight: bold;
}

.tabs .first-div {
  margin: 6px;
}

.sect-six {
  padding: 40px;
}

.sect-six img {
  width: 500px;
}

@media (max-width: 500px) {
  .sect-six {
    padding: 30px;
  }
  .sect-six img {
    width: 300px;
  }
}

.sect-seven {
  padding: 40px 40px;
}

.sect-seven .inner-div img {
  width: 30px;
  margin-bottom: 20px;
}

.sect-seven span {
  display: block;
  text-align: center;
  background-color: #e6f0ff;
  border-radius: 20px;
  color: #006bff;
  padding: 6px 12px;
  width: fit-content;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  margin: 30px auto;
}

.sect-seven h2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  color: #0b3558;
}

.sect-seven .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2em;
  margin-top: 30px;
}

.inner-div {
  padding: 30px;
  border: thin solid black;
  border-radius: 20px;
  border-color: #a6bbd1;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.inner-div p {
  font-size: 18px;
  color: #0b3558;
  line-height: 1.6em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (max-width: 992px) {
  .sect-seven h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    color: #0b3558;
  }

  .sect-seven .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2em;
    margin-top: 30px;
  }
}

@media (max-width:620px) {
  .sect-seven {
    padding: 40px 40px;
  }
  
  .sect-seven .inner-div img {
    width: 30px;
    margin-bottom: 20px;
  }
  
  .sect-seven span {
    display: block;
    text-align: center;
    background-color: #e6f0ff;
    border-radius: 20px;
    color: #006bff;
    padding: 6px 12px;
    width: fit-content;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    margin: 30px auto;
  }
  
  .sect-seven h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    color: #0b3558;
  }
  
 
  
  .inner-div {
    padding: 16px;
    border: thin solid black;
    border-radius: 20px;
    border-color: #a6bbd1;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  }
  
  .inner-div p {
    font-size: 14px;
    color: #0b3558;
    line-height: 1.6em;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  
}

@media (max-width:500px) {
  .sect-seven {
    padding: 40px 20px;
  }
  
  .sect-seven .inner-div img {
    width: 30px;
    margin-bottom: 20px;
  }
  
  .sect-seven span {
    display: block;
    text-align: center;
    background-color: #e6f0ff;
    border-radius: 20px;
    color: #006bff;
    padding: 6px 12px;
    width: fit-content;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    margin: 30px auto;
  }
  
  .sect-seven h2 {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    color: #0b3558;
  }
  
  .sect-seven .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2em;
    margin-top: 30px;
  }
  
  .inner-div {
    padding: 16px;
    border: thin solid black;
    border-radius: 20px;
    border-color: #a6bbd1;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  }
  
  .inner-div p {
    font-size: 14px;
    color: #0b3558;
    line-height: 1.6em;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  
}


.sect-eight {
  padding: 50px 20px 50px 20px;
  background-color: #fafbfc;
}

.sect-eight h2 {
  font-size: 48px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0b3558;
  padding-bottom: 30px;
}

.sect-eight p {
  font-size:18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0b3558;
  padding-bottom: 30px;

}


.save-div p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #006bff;
  font-size: 11px;
  padding: 6px 10px;
  background-color: #ebedf2;
  border-radius: 30px;
  margin-left: -20px;
}

.sect-eight-cards-wrapper {
  margin-bottom: 40px;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  align-items: stretch;
}

.sect-eight .cards-container {
  display: flex;
  gap: 1em;
  
}


.sect-eight-cards {
  padding: 20px 26px 50px 26px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.123);
}

.sect-eight-cards h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0b3558;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}
.sect-eight-cards p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5a6b7a;
  padding-bottom: 30px;
  font-size: 14px;
}
.sect-eight-cards h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0b3558;
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: 800;
}
.sect-eight-cards a {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #0b3558;
  border-radius: 8px;
  padding: 12px 80px;
}

.sect-eight-cards.two a {
  background-color: #006bff;
}
.sect-eight-cards.three a {
  background-color: #006bff;
  text-wrap: nowrap;

}
.sect-eight-cards.four a {
  background-color: #006bff;
  text-wrap: nowrap;
}

.sect-eight-cards.three {
  position: relative;
  background: white;
  padding: 20px 26px 50px 26px;
  border-radius: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #006bff;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
}

.sect-eight .tooltip-text {
  font-size: 12px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.fifteen-k {
  font-size: 14px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  padding-right: 6px;
}

.sect-eight-learn-more {
  font-size: 18px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}
.sect-eight-learn-more i {
  padding-left: 6px;
}

@media (max-width:1100px) {

  .sect-eight h2 {
    font-size: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #0b3558;
    padding-bottom: 30px;
  }

}
@media (max-width:970px) {

  .sect-eight h2 {
    font-size: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #0b3558;
    padding-bottom: 30px;
  }

  .sect-eight-cards-wrapper {
    margin-bottom: 40px;
    display: flex;
    column-gap: 2em;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }
  

}

@media (max-width: 650px) {
  .sect-eight .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
}



.open-tabs {
  padding: 20px 40px 60px 40px;
}

.open-tabs h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  color: #0b3558;
  padding-top: 30px;
}

.open-tabs span {
  margin-top: 12px;
  display: block;
  background-color: #e6f0ff;
  border-radius: 20px;
  width: fit-content;
  padding: 4px 10px;
  color: #006bff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

.open-tabs h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  color: #0b3558;
}
.grid p {
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #0b3558;
  font-weight: bold;
}

.grid .fa-solid {
  padding-left: 10px;
}

.grid img {
  width: 340px;
  border-radius: 20px;
}

.grid {
  padding-top: 32px;
}

.open-tabs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  flex-wrap: wrap;
}

@media (max-width: 1164px) {
  .open-tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .grid img {
    width: 300px;
    border-radius: 20px;
  }
}
@media (max-width: 1016px) {
  .open-tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .grid img {
    width: 280px;
    border-radius: 20px;
  }
}
@media (max-width: 992px) {
  .open-tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .grid img {
    width: 380px;
    border-radius: 20px;
  }
}
@media (max-width: 900px) {
  .grid img {
    width: 320px;
    border-radius: 20px;
  }
}
@media (max-width: 900px) {
  .grid img {
    width: 320px;
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .grid img {
    width: 280px;
    border-radius: 20px;
  }
}

@media (max-width: 644px) {
  .open-tabs h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    color: #0b3558;
  }
  .grid p {
    padding-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #0b3558;
    font-weight: bold;
  }

  .grid .fa-solid {
    padding-left: 10px;
  }

  .grid img {
    width: 240px;
    border-radius: 20px;
  }

  .grid {
    padding-top: 32px;
  }

  .open-tabs h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #0b3558;
    padding-top: 30px;
  }
}

@media (max-width: 628px) {
  .open-tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .grid img {
    width: 360px;
    border-radius: 20px;
  }

  .open-tabs {
    padding: 20px 30px 60px 30px;
  }
}
@media (max-width: 420px) {
  .open-tabs-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .grid img {
    width: 280px;
    border-radius: 20px;
  }

  .open-tabs {
    padding: 20px 30px 60px 30px;
  }
}

@media (max-width: 320px) {
  .grid img {
    width: 260px;
    border-radius: 20px;
  }
}


.sect-nine {
  padding: 80px 40px 80px 40px;
  background-color: #f0f3f8;
}

.sect-nine h2 {
  font-size: 48px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.sect-nine p {
  font-size: 18px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.sect-nine-anchors {
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  gap: 1em;
}

.sect-nine-anchors .anchor-one {
  text-wrap: nowrap;
  color: #fff;
  background-color: #006bff;
  padding: 12px 26px 12px 26px;
  border-radius: 8px;
}
.sect-nine-anchors .anchor-two {
  text-wrap: nowrap;
  color: #0b3558;
  padding: 12px 26px 12px 26px;
  border-radius: 8px;
  border: thin solid #0b3558;
}

@media (max-width: 768px) {
  .sect-nine {
    padding: 80px 60px 80px 60px;
    background-color: #f0f3f8;
  }

  .sect-nine h2 {
    font-size: 50px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine p {
    font-size: 18px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine-anchors {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    gap: 1em;
  }

  .sect-nine-anchors .anchor-one {
    color: #fff;
    background-color: #006bff;
    padding: 12px 26px 12px 26px;
    border-radius: 8px;
  }
  .sect-nine-anchors .anchor-two {
    color: #0b3558;
    padding: 12px 26px 12px 26px;
    border-radius: 8px;
    border: thin solid #0b3558;
  }
}

@media (max-width: 576px) {
  .sect-nine {
    padding: 80px 40px 80px 40px;
    background-color: #f0f3f8;
  }

  .sect-nine h2 {
    font-size: 50px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine p {
    font-size: 18px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine-anchors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
    gap: 1em;
    text-align: center;
  }

  .sect-nine-anchors .anchor-one {
    color: #fff;
    background-color: #006bff;
    padding: 12px 26px 12px 26px;
    border-radius: 8px;
  }
  .sect-nine-anchors .anchor-two {
    color: #0b3558;
    padding: 12px 26px 12px 26px;
    border-radius: 8px;
    border: thin solid #0b3558;
  }
}
@media (max-width: 380px) {
  .sect-nine {
    padding: 80px 40px 80px 40px;
    background-color: #f0f3f8;
  }

  .sect-nine h2 {
    font-size: 30px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine p {
    font-size: 18px;
    color: #0b3558;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    padding-bottom: 30px;
  }

  .sect-nine-anchors {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    gap: 1em;
  }

  .sect-nine-anchors .anchor-one {
    color: #fff;
    background-color: #006bff;
    padding: 8px 18px 8px 18px;
    border-radius: 8px;
  }
  .sect-nine-anchors .anchor-two {
    color: #0b3558;
    padding: 8px 18px 8px 18px;
    border-radius: 8px;
    border: thin solid #0b3558;
  }
}















.sub-footer {
  padding: 80px 80px 80px 80px;
}

.sub-footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4em;
  align-items: center;
}
.sub-footer-left h2 {
  font-size: 48px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 20px;
  text-wrap: wrap;
}
.sub-footer-left p {
  font-size: 18px;
  line-height: 1.6em;
  text-wrap: wrap;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sub-footer-left-span {
  color: #006bff;
}

.sub-footer-right {
  padding: 26px 30px 30px 30px;
  border: 1px solid #cfd4df;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.123);
}

.sub-footer h3 {
  font-size: 22px;
  padding-bottom: 12px;
  padding-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0b3558;
}

.sub-footer .sub-footer-right-span {
  font-size: 14px;
  padding: 8px 14px;
  background-color: #f0f3f8;
  border-radius: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #006bff;
}

.sub-footer-right p {
  color: #0b3558;
  font-size: 18px;

  padding-bottom: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sub-footer-right .right-side-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1031px) {
  .sub-footer {
    padding: 80px 50px 80px 50px;
  }

  .sub-footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .sub-footer {
    padding: 80px 50px 80px 50px;
  }

  .sub-footer-wrapper {
    display: flex;
    /* justify-content: start; */
    gap: 2em;
    flex-direction: column;
    align-items: start;
  }
  .sub-footer-right {
    padding: 26px 30px 30px 30px;
    border: 1px solid #cfd4df;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.123);
  }
}

@media (max-width: 320px) {
  .sub-footer {
    padding: 80px 20px 80px 20px;
  }
}

footer {
  padding: 0px 80px 80px 80px;
}

.footer-wrapper {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
}

footer .quick-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .quick-menu h4 {
  font-size: 18px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 10px;
}
footer .quick-menu a {
  font-size: 13.5px;
  padding-bottom: 4px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
}

footer .quick-menu a:hover {
  text-decoration: underline;
}

.quick-menu .hiring {
  color: #006bff;
  padding: 6px 8px 6px 8px;
  font-size: 12px;
  background-color: #f0f3f8;
  border-radius: 30px;
  margin-left: 10px;
}

.quick-menu a:hover .hiring {
  text-decoration: none;
}

@media (max-width: 768px) {
  footer {
    padding: 50px 50px 80px 50px;
  }

  .footer-wrapper {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
  }
}
@media (max-width: 500px) {
  footer {
    padding: 50px 40px 80px 40px;
  }
}
@media (max-width: 350px) {
  footer {
    padding: 50px 20px 80px 20px;
  }
}

footer .downloads-sect {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 30px;
  border: 2px solid #ececec;
  border-right: none;
  border-left: none;
  border-top: none;
}

footer .downloads-sect-left h4 {
  font-size: 17px;
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 14px;
}

footer .apps-wrapper1 {
  display: flex;
  flex-wrap: wrap;
}
footer .apps-wrapper2 {
  display: flex;
  flex-wrap: wrap;
}

footer .apps-wrapper1 .apps {
  display: flex;
  margin-top: 10px;

  border-radius: 8px;
  align-items: center;
  background-color: #ececec;
  gap: 0.5em;
  margin-right: 10px;
}

footer .apps-wrapper2 .apps {
  margin-top: 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #ececec;
  gap: 0.5em;
  margin-right: 10px;
}

footer .downloads-sect-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.downloads-sect-left .apps {
  padding: 4px 20px 4px 4px;
}

.downloads-sect-left .apps p {
  color: #0b3558;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

footer .apps div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  display: block;
  padding: 6px;
}

.apps .app-imgs {
  width: 20px;
}

@media (max-width: 768px) {
  footer .downloads-sect {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding-bottom: 30px;
    gap: 3em;
    border: 2px solid #ececec;
    border-right: none;
    border-left: none;
    border-top: none;
  }
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 11.5px;
  color: #3a5d7a;
  flex-wrap: wrap;
  /* text-wrap: nowrap; */
}

.footer-bottom .left-div select {
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  color: #476788;
  font-weight: bold;
}

.footer-bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4em;
  flex-wrap: wrap;
}

.footer-bottom .middle-div a {
  color: #3a5d7a;
}

.footer-bottom .middle-div .middle-div-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-div-inner img {
  padding-right: 6px;
}

.footer-bottom .right-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom .right-div a {
  color: #3a5d7a;
}
